html {
  background-color: #c9b5ab;
}

img {
  width: 100%;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.6;
}

.nav {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.7rem;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

figcaption p {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
  line-height: .11;
  font-size: .9rem;
}

.first-line {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.2rem;
}

main q:last-child {
  font-family: "PT Serif", serif;
}

blockquote {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: normal;
}

cite {
  font-size: .8rem;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

ol {
  list-style-type: lower-greek;
}

h3 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.serving {
  font-style: italic;
}

dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

h4 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  list-style-type: circle;
  font-size: 1.5rem;
  font-weight: bold;
}
