html {
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
  font-family: PT Sans;
}

nav ol {
  color: #8f2440;
  font-family: PT Sans;
}

figure p {
  font-family: PT Serif;
}

main p:first-child{
  font-size: 1.125rem;
  font-family: PT Sans;
}

main q {
  font-family: PT serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

blockquote {
  line-height: 1.5;
  font-size: 0.8rem;
}

h2 {
  color: #8f2440;
  font-family: PT Sans;
  list-style-type: lower-greek;
}

h3 {
  color: #8f2440;
  font-family: PT Sans;
}

dl dt {
  font-style: PT Serif;
}

h4 {
  color: #8f2440;
  font-family: PT Sans;
  list-style-type: circle;
}
